
# My utility files
# (notes, testing stuffs, and errors)
Test-Utils

# Remnants of file-distribution
# (I want to keep this in my folder for hidden testing)
Output

# Ignore the new spoiler logs I dump for testing
SpoilerLog
